### Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Database:-
A database is a structured collection of data that is organized in a way that allows efficient storage, retrieval, and manipulation of information. Databases are used to store and manage large amounts of data, making them a fundamental component of many software applications and systems.

### Difference between SQL and NoSQL databases.

SQL databases are relational, and NoSQL databases are non-relational.

SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.

SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Table of Contents

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc

### CREATE: 
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
### Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....);

### Example –
We need to create a table for storing Student information of a particular College. Create syntax would be as below.


CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

### DROP :
This command is used to remove an existing table along with its structure from the Database.

### Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;
### Example –
If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

### ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
### Syntax –
Syntax to add a column to an existing table.


ALTER TABLE table_name
ADD column_name datatype;
### Example –
In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.


ALTER TABLE Student_info
ADD CGPA number;

### TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.
### Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;
### Example –
The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## DML: Data Manipulation Language
DML commands are those commands that help manage and modify the database. These commands are not auto-committed, meaning they can’t permanently save the data in a database.

Here are the DML commands- INSERT, UPDATE, DELETE

### INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
### Syntax :

INSERT INTO <table_name> ('column_name1' <datatype>, 'column_name2' <datatype>)

VALUES ('value1', 'value2');

### ### Example :

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

### UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table

### Syntax :

UPDATE <table_name>

SET <column_name = value>

WHERE condition; 

### Example :

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini

### DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

### Syntax :

DELETE FROM <table_name>

WHERE <condition>;

### Example :

DELETE FROM students

WHERE stu_id = '001';

### Q4. What is DQL? Explain SELECT with an example.

### Data Query Language 
DQL is one of the finest SQL commands that is used to fetch the data from the database. The goal of DQL commands is to obtain the schema relationship based on the request that is passed to it. While often referred to as part of DML, the SQL SELECT statement is strictly an example of DQL.

### Syntax:

SELECT expressions    
FROM TABLES    
WHERE conditions; 
###  Example:

SELECT FirstName  
FROM Student  
WHERE RollNo > 15;

### Q5. Explain Primary Key and Foreign Key

### Primary key:
The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

### For example
we have a table named customer with attributes such as ID, Name, and City. Only the ID column can never contain duplicate and NULL values because each customer has a unique identification number. This feature helps to identify each record in the database uniquely. Hence, we can make the ID attribute a primary key

### Foreign key:
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 
### For example:
we have a table named contact with attributes such as ID, Customer_Id, Customer_Info, and Type. Here we can make the Customer_Id column a foreign key.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you'll need to use a MySQL driver. One popular choice is the "mysql-connector-python" library, which provides a Python interface for interacting with MySQL databases. Before running the code, make sure you have the "mysql-connector-python" library installed. You can install it using pip:

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 48.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
'''
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
    '''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nprint(mydb)\nmycursor = mydb.cursor()\nmycursor.execute("SHOW DATABASES")\nfor x in mycursor:\n    print(x)\n    '

### cursor() Method:

The cursor() method is called on the database connection object to create a cursor object.
A cursor is a control structure that allows you to traverse and manipulate records in a database result set.
Cursors provide methods to execute SQL queries, fetch data, and manage transactions.
The cursor is used to execute SQL statements and retrieve the results.
### execute() Method:

The execute() method is called on the cursor object to execute an SQL query.
You pass the SQL query as a parameter to the execute() method.
After executing the query, the cursor is ready to fetch the results.
You can execute various SQL commands, including SELECT, INSERT, UPDATE, DELETE, etc., using the execute() method.

### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in a specific order to ensure that the query is executed correctly and produces the expected results. The typical order of execution for the clauses in a basic SQL SELECT statement is as follows:

FROM: The FROM clause specifies the source table(s) from which the data is retrieved. It identifies the table(s) that will be queried to obtain the desired information.

WHERE: The WHERE clause is used to filter the rows from the specified table(s) based on a given condition. It restricts the rows that meet the specified criteria.

GROUP BY: The GROUP BY clause is used to group the resulting rows from the previous steps into summary rows based on the values of one or more columns. This is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause filters the grouped rows produced by the GROUP BY clause based on a condition. It's similar to the WHERE clause, but it operates on the grouped results.

SELECT: The SELECT clause defines which columns to include in the final result set. It specifies the attributes or expressions to be retrieved for each row.

ORDER BY: The ORDER BY clause is used to sort the resulting rows (after any grouping and filtering) based on one or more columns. It determines the order in which the rows are presented in the final result set.

LIMIT / OFFSET: The LIMIT and OFFSET clauses (or their equivalent in different database systems) are used to limit the number of rows returned in the result set and, in some cases, to skip a certain number of rows

# The end